	.slide ul { 
		@apply list-disc; 
	}
	.slide ol { 
		@apply list-decimal; 
	}
	.slide h2 {
		@apply font-bold text-5xl sm:text-7xl text-center mb-6;
	}
	.slide a {
		@apply underline font-semibold;
	}